<div id="everything">
  <header>
  </header>
  <div id="container">
    <div id="user-info" class="column-left"></div>
    <div id="rooms" class="column-middle">
      <div id="rooms-available" class="column-middle-top">
      {{#each user-room}}
        <button type="button" name=this.guid>this.name</button>
      </div>
      <div id="current-room" class="column-middle-bottom">
        <button type="button" name="new-post" id="new-post">Post</button>
        <!-- form for adding a post.  is display: none until "new-post" button is clicked -->
        <div id="post-form-holder">
          <form id="post-form">
            <input id="post-title" type="text" name="post-title">
            <input id="post-conent" type="textarea" name="post-content">
            <input id="make-new-post" type="submit" name="make-new-post">
          </form>
        </div>
        <ul>
          {{#each shout-post}} {{this.photo}}| {{this.name}}
          <li>


            <form id="beer-add-new" action="api/triedBeer/{{this.id}}?_method=PUT" method='POST'>
              {{this.id}}| {{this.beer_name}}
              <button class="submit-btn" type="submit" data-status="tried" data-id={{this.id}}>
                <span class="submit-btn-label">Tried It!</span>
              </button>
            </form>
            {{!--
            <button class="submit-btn" data-status="reviewIt" data-id=R{{this.id}}>Review It!</button> --}}
          </li>
          {{/each}}
      </div>
    </div>
    <div id="conversations" class="column-right">

      </ul>
    </div>
    <footer></footer>
  </div>
</div>